
/*cadre comple du site ne rien mettre*/	
#cadre {
	
	
    position:absolute;
    background-color:;
    width:100%;
    height:100%;
	top:0px;
	left:0px;
	
}
/*fin du cadre*/

/*il y a le logo et le nom de guilde rien d'autre*/
#tete{
	
    position:absolute;
    background-color:;
    width:100%;
    height:15%;
	top:0px;
	left:0px;
	
}
/*fin de tete*/

/*contenue du site complé*/
#corps{
	
	position:absolute;
    background-color:yellow;
    width:100%;
    height:79%;
    top:15%;
    left:0px;
}
/*fin du corp*/

/*dans le nav il y a un bouton pour aller sur la galerie photo video et tuto*/
.nav{
	position:absolute;
	background-color:red;
	width:100%;
	height:5%;
	top:%;
	left:0px;
}

.photo{ 
    position:absolute;
	background-color:green;
	width:33.33%;
	height:100%;
	top:%;
	left:0px;
}
.vidéo{
	position:absolute;
	background-color:green;
	width:33.33%;
	height:100%;
	top:%;
	left:33.33%;
}
.tuto{
	position:absolute;
	background-color:green;
	width:33.33%;
	height:100%;
	top:0%;
	right:0%;
} 

/*fin du nav*/

/*explicatif de guilde */
.laguilde{
	position:absolute;
	background-color:green;
	width:25%;
	height:95%;
	top:5%;
	left:0px;
}
/*fin du cadre la guilde*/

/*les event organiser*/
.evenment{
	position:absolute;
	background-color:blue;
	width:25%;
	height:95%;
	top:5%;
	left:25%;
}
/*fin cadre event*/

/*l'avancer de la guilde et les objectif*/
.petitcadre{
	position:absolute ;
	background-color:red;
	width:25%;
	height:95%;
	top:5%;
	right:25%;
}


.avancer{
	position:absolute ;
	background-color:orange;
	width:100%;
	height:50%;
	top:0%;
	left:0%;
	
}


.objectif{
	position:absolute;
	background-color:white;
	width:100%;
	height:50%;
	top:50%;
	left:0%;
}
/*fin du cadre avence de la guilde*/

/*charte*/
.charte{
	position:absolute;
	background-color:green;
	width:25%;
	height:95%;
	top:5%;
	right:0%;
}
/*fin du cadre de la charte*/

/*pierd de page */
#pieds{
	
	
	position:float left;
    width:100%;
    height:5%;
}
/*fin du pierd de page*/